.contacts-container {
    display: flex;
    flex-direction: column;
    height: 310px;
    overflow: auto;
    background-color: #444753;
    border-bottom-left-radius: 20px;
}
.contacts-container::-webkit-scrollbar {
    width: 6px;
}
.contacts-container::-webkit-scrollbar-thumb {
    background-color: #6a6c75;
    border-radius: 10px;
}

.image-container{
    display: flex;
    width: 40px;
    height: 40px;

    margin-right: 5px;
}

.image-container img {
    border-radius: 100%;
    width: 100%;
    height: auto;
}

.contact {
    word-wrap: break-word;
    align-items: center;
    display: flex;
    padding: 10px;
    color: #fff;
}